<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h4>
    {{ title }}
  </h4>
</div>

<div class="container-fluid">
  <table class="table table-bordered table-responsive">
    <thead class="fixed-header">
      <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Company</th>
        <th>Date Entry</th>
        <th>Org Number</th>
        <th>Address</th>
        <th>City</th>
        <th>ZipCode</th>
        <th>Geo</th>
        <th>Pan</th>
        <th>Pin</th>
        <th>Id</th>
        <th>Status</th>
        <th>Fee</th>
        <th>Guid</th>
        <th>Date Exist</th>
        <th>Date First</th>
        <th>Date Recent</th>
        <th>Url</th>
        <th>Submit - ID & Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let user of pagedItems'>
        <td>{{user.name}}</td>
        <td>{{user.phone}}</td>
        <td>{{user.email}}</td>
        <td>{{user.company}}</td>
        <td>{{user.date_entry}}</td>
        <td>{{user.org_num}}</td>
        <td>{{user.address_1}}</td>
        <td>{{user.city}}</td>
        <td>{{user.zip}}</td>
        <td>{{user.geo}}</td>
        <td>{{user.pan}}</td>
        <td>{{user.pin}}</td>
        <td>{{user.id}}</td>
        <td>{{user.status}}</td>
        <td>{{user.fee}}</td>
        <td>{{user.guid}}</td>
        <td>{{user.date_exit}}</td>
        <td>{{user.date_first}}</td>
        <td>{{user.date_recent}}</td>
        <td>{{user.url}}</td>
        <td>
          <button class="btn btn-success" type="submit" (ngSubmit)="submit()">Submit</button>
        </td>
      </tr>
    </tbody>
  </table>
  <form class="form-row">
    <nav class="col-9">
      <ul class="pagination" *ngIf="pager.pages && pager.pages.length">
        <li class="page-item">
          <a class="page-link" (click)="setPage(1)">First</a>
        </li>
        <li class="page-item" [ngClass]="{disabled:pager.currentPage === 1}">
          <a class="page-link" (click)="setPage(pager.currentPage - 1)">Previous</a>
        </li>
        <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
          <a class="page-link" (click)="setPage(page)">{{page}}</a>
        </li>
        <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a class="page-link" (click)="setPage(pager.currentPage + 1)">Next</a>
        </li>
        <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a class="page-link" (click)="setPage(pager.totalPages)">Last</a>
        </li>
      </ul>
    </nav>
    <div class="col-3">
      <label>Select number of results:</label>&nbsp;
      <select class="dropdown btn btn-default" name="pageSize" #t (change)="changePageSize(t.value);">
        <option *ngFor="let item of pageSizeItems" [value]="item"> {{item}}</option>
      </select>
    </div>
  </form>
</div>

<router-outlet></router-outlet>